@import '../main.scss';

.headerContainer {
	align-items: center;
	background-color: white;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-around;
	position: relative;
	width: 100%;

	@include breakpoint($xsLaptop) {
		padding: 0 5rem;
	}

	.logoContainer {
		height: 100%;
		width: 30%;
		@include no-selectable;

		@include breakpoint($xsLaptop) {
			width: 10%;
		}

		.logo {
			height: 100%;
			width: 100%;
			position: relative;
			z-index: 9;
		}
	}
}
