@import '../main.scss';

.navLinksContainer {
	background-color: white;
	height: 100vh;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 9;

	@include breakpoint($xsLaptop) {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: flex-end;
		overflow: auto;
		position: relative;
		width: 90%;
	}

	.navLinks {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 3rem;
		height: 100%;
		justify-content: center;
		list-style: none;

		@include breakpoint($xsLaptop) {
			align-items: center;
			flex-direction: row;
			height: 75%;
			justify-content: flex-end;
			width: 100%;
		}

		.navLink {
			border-radius: 0.5rem;
			transition: all 0.2s ease-out;
			width: 40%;

			@include breakpoint($xsLaptop) {
				height: 100%;
				width: 10%;
			}

			&:hover {
				background-color: $primaryColor;
				border-radius: 42% 27% 24% 36% / 100% 0% 100% 0%;
			}

			a {
				align-items: center;
				color: $primaryColor;
				display: flex;
				font-size: 1.4rem;
				height: 100%;
				justify-content: center;
				text-decoration: none;
				width: 100%;

				&:hover {
					color: white;
				}
			}
			.active {
				background-color: $primaryColor;
				border-radius: 51% 49% 30% 70% / 100% 0% 100% 0%;
				color: white;
			}
		}
	}
}
