@import '../shared/colors';

.navLinksContainer {
	height: 100%;
	width: 90%;

	.navLinks {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: flex-end;
		list-style: none;
		margin-right: 5rem;

		.navLink {
			background-color: white;
			height: 100%;
			width: 10%;

			&:hover {
				background-color: $primaryColor;
			}

			a {
				align-items: center;
				color: $primaryColor;
				display: flex;
				font-size: 1.4rem;
				height: 100%;
				justify-content: center;
				text-decoration: none;
				width: 100%;

				&:hover {
					color: white;
				}
			}
			.active {
				background-color: $primaryColor;
				color: white;
			}
		}
	}
}
