$xsPhone: 320px;
$sPhone: 360px;
$phone: 375px;
$lPhone: 400px;
$tablet: 768px;
$xsLaptop: 1024px;
$sLaptop: 1280px;
$laptop: 1366px;
$lLaptop: 1440px;
$sDesktop: 1680px;
$desktop: 1920px;
$desktop2K: 2560px;
$desktop4K: 3840px;
